.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding: 20px;
}

.miImagen{
max-height: 250px;
min-height: 250px;
object-fit: contain;

}

.miTitulo{
    max-height: 70px;
min-height: 70px;

}

.categoria{
    background-color: black;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom:2px ;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}